
/* Change the colors here */
:root{
    --sideBar : #ffd100;
    --boxBackground: #202020;
    --bodyBackground: #333533;
    --textColor:#f5f5f5;
    /* --textColor:#ffd100; */
}

body{
    height: 100%;
    background-color: var(--bodyBackground);
    margin: 0;
    padding: 0;
    /* This is the color of the text in the entire body */
    color: var(--textColor); 
}


/* Class selectors */
.big-box{

    height: 550px;
    width: 80%;
    background-color:var(--boxBackground) ;
    transform: translate(10%,10%);
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
}
.profile-box{
    /* sidebar color of the profile */
    background-color:var(--sideBar) ;
    height: 100%;
    width: 20%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-bio-box{
    position: absolute;
    top: 0;
    right: 0;
    height: 550px;
    width: 80%;
    z-index: -1;
    text-align: right;
    }
.profile-bio-name{
    /* position: relative; */
    font-size: 2rem;
    font-weight: bold;
    right: 20px;
    top: 30px;
    transform: translate(-5%,0);
}
.profile-bio-details{
    /* position: relative; */
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5;
    width: 65%;
    transform: translate(45%,0);
}
.profile-bio-links{
    
    transform: translate(-6%,0);
}


/* Id Selectors */
#profile-photo{
    width: 150%;
    position: relative;
    right: -50%;
    border-radius: 50%;

}
#profile-bio-links-logo{
    padding: 1rem;
    height: 35px;
    filter: invert(100%);
}


/* Media queries */


@media screen and (max-width:720px){
    .profile-box{
        /* sidebar color of the profile */
        background-color:var(--sideBar) ;
        width: 100%;
        height: 20%;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .big-box{
        height: 1000px;
        width: 80%;
        /* Background color of the profile container */
        background-color:var(--boxBackground) ;
        transform: translate(10%,10%);
        border-radius: 30px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        /* overflow: hidden; */
    }
    #profile-photo{
        width: 55%;
        position: relative;
        right: 0;
        top: 50%;
        border-radius: 50%;
    
    }
    .profile-bio-box{
        position: absolute;
        display: grid;
        place-items: center;
        top: 43%;
        right: -9%;
        height: 5%;
        width: 100%;
        z-index: -1;
        text-align: right;
        }
    .profile-bio-name{
        position: relative;
        font-size: 1.5rem;
        font-weight: bold;
        top: -90%;
    }
    .profile-bio-details{
        /* position: relative; */
        font-size: 1rem;
        font-weight: bold;
        line-height: 1.6rem;
        width: 65%;
        text-align: center;
        transform: translate(-12.5%,-45%);
    }
    .profile-bio-links{
        transform: translate(-20%,-100%);
    }
    
}

