:root{
  --temp-color:grey;
}
body{
  margin: 0;
  padding: 0;
  height: 100%;
}
#right{
    position: absolute;
    right: 10px;
  }
.carousel-height{
  height: 600px;
  width: 100%;
  object-fit: contain ;
}
.carousel-height img{
  transform: translateY(-20%);
}
.recent-blog{
  margin: 30px;

}
.block{
  display: grid;
  place-items: center;
  height: 27rem;
  width: 100%;
  background-color: var(--temp-color);
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
}
.album{
  display: inline-grid;
  grid-template-columns: 120 90px auto 50px 40px;
  grid-template-rows: 25% 10% auto;
}
.album img{
  width: 30%;
}
#calender{
  position: absolute;
  z-index: 100;
  transform: translate(20%,90%);
}
#profile-photo{
  height: auto;
  width: 80px;
  object-fit: cover;
}