:root{
  --temp-color:grey;
}

body{
  margin: 0;
  padding: 0;
  height: 100%;
}
.carousel-height{
  height: 600px;
  width: 100%;
  object-fit: contain ;
}
.carousel-height img{
  transform: translateY(-20%);
}
.recent-blog{
  margin: 30px;

}
.block{
  /* position:static; */
  display: grid;
  place-items: center;
  height: 27rem;
  width: 100%;
  padding-left: .5rem;
  background-color: var(--temp-color);
  /* z-index: -100; */
}
.parallax {
  /* The image used */


  /* Full height */
  height: 550px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.footer{
  display: flex;
  justify-content: center;
  align-items: center;
}
.album{
  display: inline-grid;
  grid-template-columns: 120 90px auto 50px 40px;
  grid-template-rows: 25% 10% auto;
}
.album img{
  width: 30%;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 5px;
    margin:10px;
}
.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
}
.gallery__item--2 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 9;
}
.gallery__item--3 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 9;
}
#calender{
  position: absolute;
  z-index: 100;
  transform: translate(20%,90%);
}
#profile-photo{
  height: auto;
  width: 80px;
  object-fit: cover;
}
#top-image{
  font-size: 4rem;
  background-image: url("https://images.pexels.com/photos/2538122/pexels-photo-2538122.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}
#bottom-image{
  background-image: url("https://images.pexels.com/photos/1933900/pexels-photo-1933900.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
}
#photo-gallery{
margin: .5rem;
background-color: white;
border: 1px solid rgb(160, 160, 160);
border-radius: 10px;
overflow: hidden;
}
#photo-gallery h3{
  padding:.5rem;
  font-size: auto;
  background-color: gainsboro;
}
@media screen and (min-width:780px){
  #menus{
    display: grid;
    place-items: end;
    padding: 2px;
  }
}
